/* BLUE COLOR - #0000ff 
   RED COLOR - #ff764d
   YELLOW COLOR - #fbffa7
   LIGHT GREEN COLOR - #b6ffc0


*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "futura-pt";
    font-size: 18px;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.8;
} h1 {
  line-height: 1.7;
}

            /* SECTIONS  */


.container {
  padding: 0 130px;
}

.description {
  padding: 100px 280px;
}

.description-container {
  padding: 100px 410px;
}

.description h1,
.description-container h1 {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
}


            /* NAVIGATION */


.home__logo {
  width: 4%;
}

.home__nav {
  display: flex;
  align-content: center;
  padding: 20px 34px;
}

.home__nav__lists {
  display: flex;
}

.home__nav__lists li a {
  text-decoration: none;
  color: #000;
  margin-left: 2.2rem;
  font-size: 22px;
  font-weight: 500;
}

.home__nav__cta {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 20px;
}

.home__nav__cta a {
  text-decoration: none;
  color: #000;
}

.home__nav__cta__signup a {
  margin-right: 25px;
  color: #0000ff;
}

.home__nav__cta__signin a {
  font-size: 16px;
}

.after__nav {
  border-top: 1px solid rgba(173, 169, 169, 0.5);
  height: 0;
}

.sticky__nav {
  padding: 30px 50px;
}

.sticky__nav ul {
  display: flex;
}

.sticky__nav a {
  text-decoration: none;
  margin-right: 30px;
  color: #000;
  font-weight: 500;
  font-size: 18px;
}

.red-text a {
  color: #ff764d;
}


                  /* HEADER */


.main-header__header__img {
  background-image: url(https://ableton-production.imgix.net/about/header.jpg?fit=crop&auto=format&fm=jpg);
  background-position: center;
  background-size: cover;
  background-position: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__header__img h1 {
  color: #ff764d;
  font-size: 8.5rem;
}


            /* MUSIC SECTION  */
/* 
.music-section__img {
  position: relative;
} */

.music-section__img-1,
.music-section__img-2 {
  z-index: 1;
  position: relative;
}

.music-section__img-1 {
  left: 135px;
  top: 140px;
}

.music-section__img-1 img {
  width: 215%;
}

.music-section__img-2 {
  left: 38.5%;
  top: 270px;
}

.music-section__img-2 img {
  width: 212%;
}

.yellow__bg-color {
  background-color: #fbffa7;
  width: 70%;
  height: 950px;
  /* z-index: -10; */
}


                 /* WHY ABLETON SECTION  */
                
figure {
  text-align: center;
}

figure video {
  width: 763px;
}


                  /* PRODUCTION SECTION */

/* .Production__imgs {
  justify-content: center;
} */

.Production__img1,
.Production__img2 {
  position: relative;
  z-index: 1;
}

.Production__img1 {
  top: 140px;
  left: -49.5%;
}

.Production__img1 img {
  width: 200%;
}

.Production__img1 img:nth-of-type(1) {
  margin-bottom: 140px;
}

.Production__img2 {
  top: 300px;
  right: 400px;
}

.Production__img2 img {
  width: 200%;
}

.light-green__bg-color {
  background-color: #b6ffc0;
  height: 1250px;
  width: 59%;
  position: relative;
}

/*  Coming to this

.Production__imgs {
  display: flex;
} */
