@media only screen and (max-width: 1280px) {

    .description p,
    .description-container p{
        font-size: 20px;
        line-height: 1.5;
    }
    h1 {
        font-size: 30px;
        line-height: 1.5;
    }
    .description h1,
    .description-container h1 {
        font-size: 1.64rem;
    }
    .container {
        padding: 0 95px;
    }
    .description {
        padding: 100px 228px;
    }
    .description-container {
        padding: 100px 320px;
    }

    .home__nav__lists li a {
        margin-left: 1.5rem;
    }

    .music-section__img-1 {
        left: 100px;
    }
    .music-section__img-2 {
        left: 36%;
    }
    .music-section__img-1 img,
    .music-section__img-2 img  {
        width: 190%;
    }
    .yellow__bg-color {
        height: 790px;
    }

    .Production__img1 {
        top: 120px;
        left: -52%;
    }
    .Production__img1 img:nth-of-type(1) {
        margin-bottom: 100px;
    }
    .Production__img2 {
        top: 230px;
        right: 340px;
    }
    .Production__img1 img,
    .Production__img2 img  {
        width: 190%;
    }
    .light-green__bg-color {
        height: 990px;
        width: 71%;
    }

    .what-we-offer__container {
        padding: 0 150px;
    }
    .what-we-offer__img1 {
        top: 290px;
        right: 82px;
    }
    .what-we-offer__img2 {
        top: 140px;
        left: 276px;
    }
    .what-we-offer__img1 img,
    .what-we-offer__img2 img {
        width: 170%;
    }
    .light-purple__bg-color {
        background-color: #d5b3ff;
        height: 850px;
    }
}


@media only screen and (max-width: 1024px) {

    main {
        padding-bottom: 91px;
    }

    h1 {
        line-height: 1.45;
        font-size: 19px;
    }
    h3 {
        font-size: 16px;
    }

    .home__logo {
        width: 6%;
    }
    .home__nav {
        padding: 20px 15px;
    }
    .home__nav__lists {
        padding-top: 4px;
    }
    .home__nav__lists li a {
        margin-left: 1.3rem;
        font-size: 16px;
    }
    .home__nav__cta {
        font-size: 15px;
        padding-top: 4px;
    }
    .sticky__nav {
        padding: 18px 20px;
    }
    .sticky__nav a {
        margin-right: 20px;
        font-size: 15px;
    }

    .description h1,
    .description-container h1 {
        font-size: 19px;
        line-height: 1.5;
    }
    .description p,
    .description-container p{
        font-size: 17px;
        line-height: 1.5;
    }

    .container {
        padding: 0 70px;
    }
    .description {
        padding: 90px 84px;
    }
    .description-container {
        padding: 90px 160px;
    }

    .yellow__bg-color {
        height: 680px;
        width: 90%;
    }
    .music-section__img-1 {
        left: 68px;
    }
    .music-section__img-2 {
        top: 228px;
        left: 35.5%;
    }
    .music-section__img-1 img,
    .music-section__img-2 img  {
        width: 190%;
    }

    .Production__img1 {
        top: 96px;
        left: -50%;
    }
    .Production__img2 {
        top: 196px;
        right: 250px;
    }
    .Production__img1 img,
    .Production__img2 img  {
        width: 180%;
    } 
    .light-green__bg-color {
        height: 790px;
        width: 85%;
    }

    .what-we-offer__container {
        padding: 0 158px;
    }
    .what-we-offer__img1 {
        right: 85px;
        top: 178px;
    }
    .what-we-offer__img2 {
        top: 94px;
        left: 146px;
    }
    .what-we-offer__img2 img,
    .what-we-offer__img1 img {
        width: 130%;
    }
    .light-purple__bg-color {
        height: 620px;
    }

    #CTA {
        grid-template-columns: 1fr;
    }
    .CTA__description__text {
        padding:100px 80px;
    }

    footer {
        padding: 98px 66px 90px 77px;
    }
    .footer__header img {
        width: 25%;
        margin-bottom: 63px;
    }
    .row {
        gap: 40px;
    }
    .footer__body>.row {
        margin-bottom: 48px;
    }
    input[type=button] {
        width: 28%;
    }
    select[name=Location] {
        width: 70%;
    }
    select[name=Languages] {
        width: 30%;
    }
    .footer__nav {
        font-size: 14px;
    }
    .footer__nav__main li {
        margin:0 2.5% 0 0;
    }
    .footer__nav__aside p {
        margin-right: 0;
    }
    .footer__nav__aside img {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 50px;
    }

    .CTA__description__text {
        padding:80px 70px;
    }

    footer {
        padding-left: 50px;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .footer__nav {
        grid-template-columns: 1fr;
    }
    .footer__nav__aside {
        margin-left: 0;
        grid-template-columns: 1fr 1fr;
    }
}